:host ::ng-deep .field {
    margin-bottom: -8px;
}

.field > label {
    display: inline-block;
    margin-bottom: 0.3rem;
}

.labelStyle {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    letter-spacing: .06em;
    font-weight: 500;
}

:host ::ng-deep .p-datepicker table td {
    padding: 0rem;
}

:host ::ng-deep .p-datepicker table td>span {
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 0%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
}

:host ::ng-deep .p-calendar .p-datepicker {
    min-width: 0%;
}

:host ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0rem;
    color: #495057;
    background: #ffffff;
    font-weight: 600;
    margin: 0;
    border-bottom: 0px solid #dee2e6;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today>span {
    background: #00aae7;
    color: white;
    border-color: transparent;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today>span :hover {
    background: #00aae7;
    color: white;
    border-color: transparent;
}

:host ::ng-deep .p-button {
    color: #495057;
    border: 1px solid #b9bdc3;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .p-button:enabled:hover {
    color: #495057;
    border-color: #b9bdc3;
}

.heading {
    font-family: "Open Sans", sans-serif !important;
}

.cardStyle {
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.buttonStyle{
    display: flex;
    justify-content: end;
}

:host ::ng-deep.p-button {
    color: #ffffff;
}

:host ::ng-deep .p-button:enabled :hover {
    background: white;
}

:host ::ng-deep .p-button:enabled:hover {
    color: #ffffff;
}
:host ::ng-deep .pi {
    color: #495057;
}