<app-breadcrumb></app-breadcrumb>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<app-input [InputFieldName]="InputFieldName"></app-input>
				</div>
				<div class="field col-12 md:col-6">
					<app-dropdown [options]="states" [selectedState]="selectedState"></app-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<app-dropdown [options]="states1" [selectedState]="selectedState2"></app-dropdown>
				</div>
				<div class="field col-12 md:col-3">

					<!-- <input pInputText id="city" type="text" placeholder="DD/MM/YYYY" /> -->
					<p-calendar [showIcon]="true"  id="city" type="text" placeholder="DD/MM/YYYY"  inputId="icon"></p-calendar>

				</div>
				<div class="field col-12 md:col-3">
					<app-button [buttonColor]="color" [buttonText]="buttonName"></app-button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton type="button" label="Search" style="background-color: #00AAE7;"></button>
				</div>
				
			</div>
		</div>
	</div>
</div>

<app-table [table_Columns]="cols" [table_Data]="content"></app-table>