.buttonStyle {
    display: flex;
    justify-content: end;
}

:host ::ng-deep .field {
    margin-bottom: 2px;
}

:host ::ng-deep .p-datepicker table td {
    padding: 0rem;
}

:host ::ng-deep .p-datepicker table td>span {
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 0%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
}

:host ::ng-deep .p-calendar .p-datepicker {
    min-width: 0%;
}

:host ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0rem;
    color: #495057;
    background: #ffffff;
    font-weight: 600;
    margin: 0;
    border-bottom: 0px solid #dee2e6;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today>span {
    background: #00aae7;
    color: white;
    border-color: transparent;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today>span :hover {
    background: #00aae7;
    color: white;
    border-color: transparent;
}

.heading {
    font-family: "Open Sans", sans-serif !important;
    color: #2c2c2c;
    line-height: 25.88px;
    font-size: 17px;
}

.cardStyle {
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.uploadImgStyle{
    background-color: #0d416b;
    width: 20%;
    padding: 12px;
}

.iconStyle{
    background-color: #0d416b;
    color: white;
    padding: 12px;
}