<app-breadcrumb></app-breadcrumb>
<div class="card">
	<div class="p-fluid p-formgrid grid">
		<div class="field col-12 md:col-12">
			<span class="p-input-icon-left" (keyup.enter)="search()">
				<i class="pi pi-search"></i>
				<input pInputText type="text" [(ngModel)]="searchData" placeholder="Global Search"
					(keyup)="clear($event)" />
				<i class="pi pi-times-circle"
					style="font-size: 1.1rem; cursor: pointer; margin-left: -26px;margin-top: -8px; color: white"
					*ngIf="searchData" (click)="clearSearch()"></i>
			</span>
		</div>
		<div class="field col-12 md:col-6">
			<app-input [InputFieldName]="InputFieldName"></app-input>
		</div>
		<div class="field col-12 md:col-6">
			<app-dropdown [options]="states" [selectedState]="selectedState" [optionLabel]="name"></app-dropdown>
		</div>
		<div class="field col-12 md:col-3">
			<app-dropdown [options]="states1" [selectedState]="selectedState" [optionLabel]="name"></app-dropdown>
		</div>
		<div class="field col-12 md:col-3">
			<app-dropdown [options]="states2" [selectedState]="selectedState" [optionLabel]="name"></app-dropdown>
		</div>
		<div class="field col-12 md:col-3">
			<app-button style="background-color: #2368A0;" [buttonText]="buttonName"></app-button>
		</div>
		<div class="field col-12 md:col-3">
			<button pButton type="button" label="Search" style="background-color: #00AAE7;"></button>
		</div>
	</div>
</div>
<app-table [table_Columns]="cols" [table_Data]="content"></app-table>