<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-12">
					<span class="p-input-icon-left">
						<i class="pi pi-search"></i>
						<input pInputText type="text" [(ngModel)]="searchData" placeholder="Global Search"
						(keyup)="globalSearch($event)" />
						<i class="pi pi-times-circle" *ngIf="display" (click)="remove()"></i>
					</span>
				</div>
			</div>
			<form [formGroup]="myTeamActivitiesForm">
				<div class="p-fluid p-formgrid grid">
					<div class="field col-12 md:col-6">
						<app-auto-complete formControlName="clientName" [placeholder]="InputFieldName"
							(optionSelected)="autoCompleteSelected($event)" [allValues]="autocompleteValues"
							[control]="myTeamActivitiesForm.get('clientName')"></app-auto-complete>
					</div>
					<div class="field col-12 md:col-6">
						<app-multi-select [options]="industrydropdownData" [control]="myTeamActivitiesForm.get('industryType')"
							[placeholderValue]="industryPlaceholder" formControlName="industryType"></app-multi-select>
					</div>
					<div class="field col-12 md:col-3">
						<app-multi-select [options]="practiceDropdownData" [placeholderValue]="practicePlaceholder"
						[control]="myTeamActivitiesForm.get('practice')" formControlName="practice"></app-multi-select>
					</div>
					<div class="field col-12 md:col-3">
						<app-calendar [dateField]="dateField" formControlName="date"
							[control]="myTeamActivitiesForm.get('date')"></app-calendar>
					</div>
					<div class="field col-12 md:col-3">
						<app-button [buttonText]="resetButton" [buttonColor]="resetButtonColor"
							(click)="reset()"></app-button>
					</div>
					<div class="field col-12 md:col-3">
						<app-button [buttonText]="searchButton" [buttonColor]="searchButtonColor"
							(click)="search()"></app-button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<app-table [table_Columns]="cols" [table_Data]="filteredTableData"></app-table>